@{
    ViewBag.Title = "Selection";
}


    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
        <script src="~/Scripts/homeScript.js"></script>
    }
    <div class="container">
        <div id="header">
            @*<a href="/index.cshtml" id="nolink">
                    <p id="planetis">Planetis</p>
                </a>*@
            <p id="planetis">Planetis</p>
        </div>


        <h1>@ViewBag.Title</h1>

        <div id="selectionForm">

            @using (Html.BeginForm("ChooseData", "Home", FormMethod.Post))
            {
                // select which attribute the user wants to select
                <select id="att" name="att">
                    <option value="">-- Select Option --</option>
                    <option value="Speed">Speed</option>
                    <option value="UnitId">Unit ID</option>
                    <option value="Software">Software</option>
                    <option value="Hardware">Hardware</option>
                </select>
            }

            @using (Html.BeginForm("SpeedData", "Home", FormMethod.Post))
            {
                // these are the radio buttons and the textfield for the speed query.
                <div style='display:none' id="Speed" class="div">
                    <input class="input" type="text" id="number" name="number" value="" placeholder="Insert number" />
                    <input class="input" type="text" id="number2" name="number2" value="" placeholder="Insert second number" />
                    <label for="Greater">Greater:</label>
                    <input type="radio" name="greater" value="true" id="greater">
                    <label for="Equal">Equal:</label>
                    <input type="radio" name="equal" value="true" id="equal">
                    <label for="Equal">Less:</label>
                    <input type="radio" name="less" value="true" id="less">


                    <span class="leftalign">
                        <input type="submit" id="btnIndex" class="myButton" value="Speed query" />
                    </span>

                </div>

                <div style='display:none' id="UnitId" class="div">
                    <select id="unitAtt" name="unitAtt">
                        <option value="">-- Select the unit --</option>
                        <option value="14100071">14100071</option>
                        <option value="14100064">14100064</option>
                    </select>

                    <label for="UnitSpeed">Speed:</label>
                    <input type="checkbox" name="UnitSpeed" value="true">
                    <label for="UnitLocation">Location</label>
                    <input type="checkbox" name="UnitLocation" value="true">
                </div>
            }
            @using (Html.BeginForm("UnitIdData", "Home", FormMethod.Post))
            {
                <div style='display:none' id="UnitId" class="div">

                    <select id="unitAtt" name="unitAtt">
                        <option value="">-- Select the unit --</option>
                        <option value="14100071">14100071</option>
                        <option value="14100064">14100064</option>
                    </select>

                    <input type="submit" id="btnUnitId" class="k-button" value="Click me" />


                    <label for="UnitSpeed">Speed:</label>
                    <input type="checkbox" name="UnitSpeed" value="true">
                    <label for="UnitLocation">Location</label>
                    <input type="checkbox" name="UnitLocation" value="true">

                    <input type="submit" id="btnUnitId" class="k-button" value="Click me" />
                </div>
            }
            <div style='display:none' id="Hardware" class="div">
                This is the hardware div.
            </div>

            <div style='display:none' id="Software" class="div">
                This is the software div.
            </div>


            @using (Html.BeginForm("logoff", "Account", FormMethod.Post))
            {
                // this is the logout button.
                @Html.AntiForgeryToken()
                <span class="leftalign">
                    <input type="submit" id="btnIndex" class="myButton" value="Log out" />
                </span>
            }
        </div>
    </div>
