@{
    ViewBag.Title = "Selection";
}

    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
        <script src="~/Scripts/homeScript.js"></script>
    }
    <div class="container">
        <div id="header">
            <p id="planetis">Planetis</p>
        </div>


        <h1>@ViewBag.Title</h1>

        <div id="selectionForm">

            @using (Html.BeginForm("ChooseData", "Home", FormMethod.Post))
            {
                // select which attribute the user wants to select
                <h4 class="center">Which sort of data you want to view?: </h4>
                <select id="att" name="att">
                    <option value="">-- Select Option --</option>
                    <option value="Speed">Speed</option>
                    <option value="UnitId">Unit ID</option>
                    <option value="DateTimeDiv">Date</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Software">Software</option>
                </select>
            }

            @using (Html.BeginForm("SpeedData", "Home", FormMethod.Post))
            {
                // these are the radio buttons and the textfield for the speed query.
                <div style='display:none' id="Speed" class="div">
                    <input class="input" type="text" id="number" name="number" value="" placeholder="Insert number" />
                    <input class="input" type="text" id="number2" name="number2" value="" placeholder="Insert second number" />
                    <label for="Greater">Greater:</label>
                    <input type="radio" name="greater" value="true" id="greater">
                    <label for="Equal">Equal:</label>
                    <input type="radio" name="equal" value="true" id="equal">
                    <label for="Equal">Less:</label>
                    <input type="radio" name="less" value="true" id="less">
                    <label for="Equal">Between:</label>
                    <input type="radio" name="Between" value="true" id="less">

                    <span class="leftalign">
                        <input type="submit" id="btnIndex" class="myButton" value="Generate Rapport" />
                    </span>

                </div>
            }
            @using (Html.BeginForm("UnitIdData", "Home", FormMethod.Post))
            {
                <div style='display:none' id="UnitId" class="div">

                    <select id="unitAtt" name="unitAtt">
                        <option value="999">999</option>
                        <option value="14010206">14010206</option>
                        <option value="14100015">14100015</option>
                        <option value="14100042">14100042</option>
                        <option value="14100064">14100064</option>
                        <option value="14100071">14100071</option>
                        <option value="14120026">14120026</option>
                        <option value="14120027">14120027</option>
                        <option value="14120029">14120029</option>
                        <option value="14120031">14120031</option>
                        <option value="14120032">14120037</option>
                        <option value="15030000">15030000</option>
                        <option value="15030001">15030001</option>
                        <option value="357566000058064">357566000058064</option>
                    </select>

                    <label for="UnitSpeed">Speed:</label>
                    <input type="checkbox" name="UnitSpeed" value="true">
                    <label for="UnitLocation">Location</label>
                    <input type="checkbox" name="UnitLocation" value="true">

                    <input type="submit" id="btnUnitId" class="myButton" value="Generate Rapport" />
                </div>
            }

            @using (Html.BeginForm("DateData", "home", FormMethod.Post))
            {
                <div style='display:none' id="DateTimeDiv" class="div">
                    <label for="date2">Speed:</label>
                    <input type="checkbox" id="date1" name="DateSpeed" checked="checked" value="true" />
                    <label for="date1">Unit ID:</label>
                    <input type="checkbox" id="date2" name="DateUnitID" checked="checked" value="true" />
                    <input class="input" type="text" id="dateTime" name="dateTime" value="" placeholder="Insert Date" />
                    
                    <select id="UnitID" name="UnitID">
                        <option value="999">999</option>
                        <option value="14010206">14010206</option>
                        <option value="14100015">14100015</option>
                        <option value="14100042">14100042</option>
                        <option value="14100064">14100064</option>
                        <option value="14100071">14100071</option>
                        <option value="14120026">14120026</option>
                        <option value="14120027">14120027</option>
                        <option value="14120029">14120029</option>
                        <option value="14120031">14120031</option>
                        <option value="14120032">14120037</option>
                        <option value="15030000">15030000</option>
                        <option value="15030001">15030001</option>
                        <option value="357566000058064">357566000058064</option>
                    </select>

                    <input type="submit" id="btnUnitId" class="myButton" value="Generate Rapport" />
                </div>

               
            }

            @using (Html.BeginForm("HardwareData", "Home", FormMethod.Post))
            {
            <div style='display:none' id="Hardware" class="div">
                <select id="hardwareCarID" name="hardwareCarID">
                    <option value="999">999</option>
                    <option value="14010206">14010206</option>
                    <option value="14100015">14100015</option>
                    <option value="14100042">14100042</option>
                    <option value="14100064">14100064</option>
                    <option value="14100071">14100071</option>
                    <option value="14120026">14120026</option>
                    <option value="14120029">14120029</option>
                    <option value="14120031">14120031</option>
                    <option value="14120032">14120032</option>
                    <option value="15030000">15030000</option>
                    <option value="15030001">15030001</option>
                </select>
                <select id="hardwareSort" name="hardwareSort">
                    <option value="Hardware/ProcessorTemperature">Processor Temperature</option>
                    <option value="Gps/GpsTemperature">GPS Temperature</option>
                    <option value="SystemInfo/ProcessorUsage">Processor Usage</option>
                    <option value="SystemInfo/AvailableDiskSpace">Available Disk Space</option>
                    <option value="SystemInfo/AvailableMemory">Available Memory</option>
                </select>
                <span class="leftalign">
                    <input type="submit" id="btnIndex" class="myButton" value="Generate Rapport" />
                </span>
            </div>
            }

            @using (Html.BeginForm("SoftwareData", "Home", FormMethod.Post))
            {
            <div style='display:none' id="Software" class="div">
                <select id="softwareCarID" name="softwareCarID">
                    <option value="999">999</option>
                    <option value="14010206">14010206</option>
                    <option value="14100015">14100015</option>
                    <option value="14100042">14100042</option>
                    <option value="14100064">14100064</option>
                    <option value="14100071">14100071</option>
                    <option value="14120026">14120026</option>
                    <option value="14120029">14120029</option>
                    <option value="14120031">14120031</option>
                    <option value="14120032">14120032</option>
                    <option value="15030000">15030000</option>
                    <option value="15030001">15030001</option>
                </select>
                <select id="softwareSort" name="softwareSort">
                    <option value="Hsdpa/RSSI">Signal Strength</option>
                    <option value="SystemInfo/MemoryLoad">Memory Load</option>
                    <option value="Gps/NumberOfSatellitesTracked">Number of Satellites Tracked</option>
                </select>
                <span class="leftalign">
                    <input type="submit" id="btnIndex" class="myButton" value="Generate Rapport" />
                </span>
            </div>
            }

            @using (Html.BeginForm("logoff", "Account", FormMethod.Post))
            {
                // this is the logout button.
                @Html.AntiForgeryToken()
                <span class="leftalign">
                    <input type="submit" id="btnIndex" class="myButton" value="Log out" />
                </span>
            }
        </div>
    </div>
