@{
    ViewBag.Title = "SoftwareData";
}
<br />


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <span class="leftalign">
        <input type="submit" id="btnIndex" class="myButton" value="Back" />
    </span>
}
<br />

<div class="center">

    @foreach (HtmlString item in ViewBag.Software)
    {
        @item
    }
</div>